@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

h1{
    /* h1 */
   float: left;
    width: 467px;
    height: 300px;
    left: 0px;
    top: 0px;
    background: #2063c7;

    font-family: 'Inter', sans-serif;

    font-family: Inter;
    font-size: 64px;
    font-style: italic;
    font-weight: 500;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: center;


}

nav{
    float: right;
}

section{
    clear: left;
}
