@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');


h1{
    /* h1 */
   float: left;
    width: 467px;
    height: 300px;
    left: 0px;
    top: 0px;
    background: #D7CF21;

    font-family: 'Inter' sans-serif;

}

nav{
    float: right;
}

section{
    clear: left;
}