@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

h1 {
    float: left;
    width: 345px;
    height: 300px;
    left: 0px;
    top: 0px;
    text-align: center;
    
    font-style: normal;
    font-weight: 700;
    font-size: 60.8px;
    line-height: 74px;
    
    background: #2FD82B;

    font-family: 'Roboto Slab', Arial, serif;
    }

nav {
    float: right;
}

section {
    clear: left;
}