h1{
    /* h1 */
    width: 467px;
    height: 300px;
    background: #D7CF21;
    float: left;
    text-align: center;

    font-family: 'Inter', sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
}

nav{
    float: right;
}

section{
    clear: left;
}